* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    color: #333;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: #2d3a47;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #e0e0e0;
    padding: 10px;
}

header div {
    display: flex;
    align-items: center;
}

header input, header button {
    height: 40px;
    margin: 0 10px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

header button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

header button:hover {
    background-color: #0056b3;
}

main {
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


@media (max-width: 668px) {
    header {
        flex-direction: column;
        height: auto;
    }

    header div {
        flex-direction: column;
        align-items: flex-start;
    }

    header input, header button, footer input, footer button {
        margin: 10px 0;
    }

    .box_histórico {
        width: 100%;
    }

    .historico-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .historico-item p {
        margin: 5px 0;
    }

    button {
        margin: 10px 0; /* Aumenta o espaçamento entre os botões */
    }
}

.nota-fiscal p {
    margin: 5px 0;
}
.nota-fiscal p strong {
    display: inline-block;
    width: 150px;
}
.nota-fiscal .titulo {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    border-bottom: 1px dashed #000;
    padding-bottom: 10px;
}
.nota-fiscal .linha {
    border-bottom: 1px dashed #000;
    margin: 10px 0;
}
